@media(min-width:768px){
    /*---- header style  -----*/
    header ul:first-of-type{
        text-align: center;
        padding: 5px 0
    }
    header ul:last-of-type{
        float: right;
        position: relative;
        top: -30px;
    }
    .header-bottom {
        padding-right: 10px;
    }

    .header-bottom .input-group{
        top:12px;
    }
    .header-bottom .order{
        margin: -8px auto;
    }
    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
        position: relative;

    }
    .dropdown,
    .nav>li{
        position: static;
    }
    .dropdown:hover  .dropdown-menu{
        display: block !important;
    }
    .dropdown-menu {
        position: absolute;
        left:0;
        top: 100%;
        width: 100%;
        background: #474747; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#474747, #585858); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#474747, #585858); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#474747, #585858); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#474747, #585858); /* Standard syntax */
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: 101%;
        left: -4px;
    }
    .navbar-nav:before{
        content: url(style-img/corner-left.png);
        display:block;
        position: absolute;
        bottom:-8px;
    }
    .navbar-collapse:before{
        content: url(style-img/corner-right.png);
        display:block;
        position: absolute;
        bottom:-8px;
        right: 0;
    }
    .core-slider_control-nav-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 7.5px 5px;
    }
    .product-price{
        margin-bottom: 0px;
        top:0;
    }
    .product-price h3{
        font-size: 35px;
        margin-top: 20px;

    }
    .product-price p{
        font-size: 35px;
    }



}

@media(min-width:992px){
    /*---- header style  -----*/



}
@media(min-width:1200px){
    /*---- header style  -----*/
    .header-bottom {
        padding-right: 0px;
    }
    .header-bottom .order{
        width: 225px;
    }
    .header-bottom .order img {
        margin-left: 7px;
    }

}