@media(min-width:768px){
    /*---- header style  -----*/
    header ul:first-of-type{
        text-align: center;
        padding: 5px 0
    }
    header ul:last-of-type{
        float: right;
        position: relative;
        top: -30px;
    }
    .header-bottom {
        padding-right: 10px;
    }

    .header-bottom .input-group{
        top:12px;
        margin: 0;
    }
    .header-bottom .order{
        margin: -8px auto 0;
    }
    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
        position: relative;
    }
    .dropdown,
    .nav>li{
        position: static;
    }
    .dropdown:hover  .dropdown-menu{
        display: block !important;
    }
    .dropdown-menu {
        position: absolute;
        left:0;
        top: 100%;
        width: 100%;
        background: #474747; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#474747, #585858); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#474747, #585858); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#474747, #585858); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#474747, #585858); /* Standard syntax */
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: 101.2%;
        left: -4px;
    }
    .navbar-nav:before{
        content: url(style-img/corner-left.png);
        display:block;
        position: absolute;
        bottom:-8px;
    }
    .navbar-collapse:before{
        content: url(style-img/corner-right.png);
        display:block;
        position: absolute;
        bottom:-8px;
        right: 0;
    }
    .navbar-nav {
        margin: 0px;
    }
    .core-slider_control-nav-item {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 7.5px 5px;
    }
    .accessories-slide .pattern {
        width: 90.5%;

    }
    .product-price{
        margin-bottom: 0px;
        top:0;
    }
    .product-price h3{
        font-size: 35px;
        margin-top: 20px;

    }
    .product-price p{
        font-size: 35px;
    }
    .footer-top{
        padding: 15px;
    }
    .footer-top ul{
        margin-bottom: 0;
    }
    .footer-top ul:first-of-type{
        float: left;
    }
    .footer-top ul:last-of-type{
        float:right;
    }
    .footer-bottom .btn{
        margin-top: 5px;
    }
    .footer-bottom article{
        padding: 20px;
    }
    .footer-bottom {
        text-align: left;
    }
    .footer-bottom article div:nth-child(2){
        margin:0;
    }
    /*------------------  proizvodi.html style ------------------*/
    .filter form{
        border-left:1px solid #d9d9d9;
        padding: 15px 10px 15px;
    }
    .sorting div,
    .sorting ol{
        float:left;
    }
    .sorting div{
        position: relative;
        top:7px;
    }
    .sorting ul{
        float:right;
        position: relative;
        top:7px;
        padding-left: 0;
        padding-right: 10px;
    }
    .pages{
        padding: 15px 5px;
    }
    .pages div:nth-of-type(2){
        text-align: center;
    }
    .pages div:first-of-type{
        margin-top: 5px;
    }
    .pages div:last-of-type{
        position: absolute;
        top:12px;
        right: 0;
    }
    .articles .artical2 article {
        min-width: 170px;
        height: auto;
        margin-bottom: 25px;
    }
    .articles .artical2 article img{
        width: 100%;
    }
    .shop ul{
        margin-left: -10px;
    }
    .social-icon{
        display: inline-block;
    }
    .social-icon li:first-child{
        display: inline-block;
    }



}

@media(min-width:992px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: 101%;
        left: -4px;
    }
    #acessories {
        height: 365.5px;
        margin-bottom: 10px;
    }
    .accessories-slide .pattern {
        width: 92.7%;
    }

    .footer-bottom .btn{
        margin-top: 0px;
    }
    .footer-bottom article div:nth-child(2){
        margin:20px 10px;
    }
    .helper article a {
        background-position: center 10px;
    }
    .helper article {
        height: 102px;
    }
    .helper article a h6 {
        margin-top: 80px;
    }

    .sorting div,
    .sorting ul{
        padding-left: 15px;
    }
    .pages div:nth-of-type(2){
        position: absolute;
        top:10px;
        left:25%;
    }
    .articles .artical2 article {
        min-width: 200px;
        height: auto;

    }
    .articles .artical3 h6 {
        font-size: 14px;
    }
    .articles .artical3 p {
        font-size: 12px;
    }
    .articles .artical3 article div {
        padding-left: 60px;
    }
    .shop select{
        background-position: right 1px;
    }
    .shop .btn:first-of-type{
        margin-left: 10px;
    }
    .shop ul{
        margin-left: 0px;
    }





}
@media(min-width:1200px){
    /*---- header style  -----*/
    .header-bottom {
        padding-right: 0px;
    }
    .header-bottom .order{
        width: 225px;
    }
    .header-bottom .order img {
        margin-left: 7px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: 100.9%;
        left: -5px;
    }
    .accessories-slide .pattern {
        width: 94%;
    }
    .helper article {
        height: 130px;
    }
    .helper article a h6 {
        margin-top: 90px;
    }
    .pages div:nth-of-type(2){
        left:30%;
    }

}