@media(min-width:768px){

    header ul{
        text-align: center;
    }
    header ul:last-of-type{
        float: right;
        position: relative;
        top: -25px;
    }
/*    .header-bottom .input-group {
        width: 200px;
    }*/

}

@media(min-width:992px){
/*    .header-bottom .input-group {
        width: 230px;
    }*/

}

@media(min-width:1200px){


}