/* 
font-family: 'Raleway', sans-serif;
*/
body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}
/*------- header style------*/
header ul{
    font-size: 12px;
    text-align: right;
}
header ul li a{
    color:#c10497;
    font-weight: bold;
}
.header-bottom{
    background-color: #fff;
}
.header-bottom .logo{
    position: relative;
    top: 5px;
    left: -5px;
}
.header-bottom .input-group .form-control{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #f1f1f1;
    z-index: 0;
}
.header-bottom .input-group .form-control:focus {
    border-color: #ce04a1;
    outline: 0;
    -webkit-box-shadow: 0 5px 0px #ce04a1;
    box-shadow: 1px 2px 10px #ce04a1;
}
.header-bottom .input-group .btn{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #ce04a1;
    border-color: #ce04a1;
}
.header-bottom .input-group .btn .fa{
    color:#fff;
}
.header-bottom .order img{
    margin-top: 5px;
}
.header-bottom .order{
    border:1px solid #e6e6e6;
    border-radius: 15px;
    width: 210px;
    font-size: 12px;
    padding: 10px;
}
.header-bottom .order h5{
    margin: 0 0 2px;
    font-weight: bold;
    color:#c10497;
}
.header-bottom .order p{
    margin: -2px;
    color:#c10497;
}
.header-bottom .order a{
    color:#c10497;
}
/*---- navigation style-------*/
.navbar{
    margin-bottom: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-image: url('style-img/nav-bcgr.png') ;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center center;
    background-color: #fff;
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.dropdown-menu {
    position: relative;
    left:0;
    top: 0;
    float: none;
}

/*-----  iskopiraj ovde kod od kuce!!!!!!! ------*/

.core-slider_control-nav {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0px;
    left: 0;
    text-align: left;
    background-color: transparent;
    height: 75px;
    background-image: url(style-img/shara.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.core-slider_control-nav-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 7.5px 2px;
    cursor: pointer;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.core-slider_control-nav-item:first-of-type{
    background-image:url(style-img/ring.jpg);
}
.core-slider_control-nav-item:nth-of-type(2){
    background-image:url(style-img/buterfly.jpg);
}
.core-slider_control-nav-item:nth-of-type(3){
    background-image:url(style-img/earrings.jpg); 
}
.core-slider_control-nav-item:last-of-type{
    background-image:url(style-img/teardrop.jpg); 
}
.trans-color{
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    background-color: #ededed;
    height: 75px;
    opacity: .7;
}
.product-price{
    margin-bottom: 90px;
    position: relative;
}
.product-price h3{
    color:#db8cc4;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size: 19px;
    margin-top: 0;
}
.product-price p{
    color:#333;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size: 19px;
}
.product-price .btn{
    background:#d004a3;
    width:85px;
    color:#fff;
    font-weight: bold;
    border-radius: 10px;
    border-color:#d204a4;
    font-size: 16px;

}
.product-price .btn .fa{
    font-weight: bold;
}
#acessories{
    border:1px solid #e6e6e6;
}
#acessories .product{
    padding: 15px 0;
}
.accessories-slide {
    position: relative;
    padding-bottom: 70px;
}
.accessories-slide .owl-carousel .owl-stage-outer {
    top: 50px;
}
.accessories-slide .owl-theme .owl-nav {
    position: absolute;
    top:0;
    right: 0;
    text-align: right;
}
.accessories-slide .pattern{
    background-image: url(style-img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 15px;
    padding: 7px;
    margin-top: 0;
    width: 90%;
    height: 30px;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    width:30px;
    height: 30px;
    line-height: 25px;
}
.owl-carousel .owl-nav .owl-prev:before{
    content: url(style-img/arrow-left.png);
   
}
.owl-carousel .owl-nav .owl-next:after{
     content: url(style-img/arrow-right.png);
  
}
.owl-theme .owl-nav [class*="owl-"] {
    padding: 4px 12px;
    background: #e5e5e5;
    border-radius: 0;
    margin:5px 1px;
}

