body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}

header ul{
    font-size: 12px;
    text-align: right;

}
header ul li a{
    color:#d243ad;
    font-weight: bold;
}
.header-bottom{
    background-color: #fff;
}
/*.header-bottom .input-group{
    width: 230px;
}*/
.header-bottom .input-group .form-control{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.header-bottom .input-group .btn{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.header-bottom .order{
    border:1px solid #e6e6e6;
    border-radius: 15px;
    width: 200px;
}