/* 
font-family: 'Raleway', sans-serif;
*/

a:focus, a:active, a:visited{
    outline: none;
}
body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}
/*------- header style------*/
header ul{
    font-size: 12px;
    text-align: right;
}
header ul li a{
    color:#c10497;
    font-weight: bold;
}
.header-bottom{
    background-color: #fff;
}
.header-bottom .logo{
    position: relative;
    top: 5px;
    left: -5px;
}
.header-bottom .input-group{
    margin: 15px 0;
}
.header-bottom .input-group .form-control{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #f1f1f1;
    z-index: 0;
}
.header-bottom .input-group .form-control:focus {
    border-color: #ce04a1;
    outline: 0;
    -webkit-box-shadow: 0 5px 0px #ce04a1;
    box-shadow: 1px 2px 10px #ce04a1;
}
.header-bottom .input-group .btn{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #d304a5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d304a5, #bc0493); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d304a5, #bc0493); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d304a5, #bc0493); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d304a5, #bc0493); /* Standard syntax */
    border-color: #ce04a1;
}
.header-bottom .input-group .btn .fa{
    color:#fff;
}
.header-bottom .order img{
    margin-top: 5px;
}
.header-bottom .order{
    border:1px solid #e6e6e6;
    border-radius: 15px;
    width: 210px;
    font-size: 12px;
    padding: 10px;
    margin: 0 auto 15px;
}
.header-bottom .order h5{
    margin: 0 0 2px;
    font-weight: bold;
    color:#c10497;
}
.header-bottom .order p{
    margin: -2px;
    color:#c10497;
}
.header-bottom .order a{
    color:#c10497;
}
/*---- navigation style-------*/
.navbar{
    margin-bottom: 0;
}
.navbar-nav {
    margin: 0px -15px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-image: url('style-img/nav-bcgr.png') ;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center center;
    background-color: #fff;
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #c6049b;
}

.dropdown-menu {
    position: relative;
    left:0;
    top: 0;
    float: none;
}
.dropdown-menu ul li{
    background-image: url(style-img/shara-pink.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin: 15px 0;
}
.dropdown-menu ul li a{
    color:#ed4b9c;
    text-decoration: none;
}
.dropdown .row{
    background: #f8f8f8;
    padding: 20px 0;
}
.dropdown .accessories .thumbnail{
    background: #f8f8f8;
}
.dropdown .thumbnail .btn{
    background: #cd04a0;
    color:#fff;
}
.dropdown .nails ul li{
    background-image: none;
    padding-left: 0;
}
.dropdown .nails ul li a{
    color:#333;
}
/*-----  iskopiraj ovde kod od kuce!!!!!!! ------*/

.core-slider_control-nav {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0px;
    left: 0;
    text-align: left;
    background-color: transparent;
    height: 75px;
    background-image: url(style-img/shara.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.core-slider_control-nav-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 7.5px 1px;
    cursor: pointer;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.core-slider_control-nav-item:first-of-type{
    background-image:url(style-img/ring.jpg);
}
.core-slider_control-nav-item:nth-of-type(2){
    background-image:url(style-img/buterfly.jpg);
}
.core-slider_control-nav-item:nth-of-type(3){
    background-image:url(style-img/earrings.jpg); 
}
.core-slider_control-nav-item:last-of-type{
    background-image:url(style-img/teardrop.jpg); 
}
.trans-color{
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    background-color: #ededed;
    height: 75px;
    opacity: .7;
}
.product-price{
    margin-bottom: 90px;
    position: relative;
}
.product-price h3{
    color:#db8cc4;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size: 19px;
    margin-top: 0;
}
.product-price p{
    color:#333;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size: 19px;
}
.product-price .btn{
    background: #d304a5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d304a5, #bc0493); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d304a5, #bc0493); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d304a5, #bc0493); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d304a5, #bc0493); /* Standard syntax */
    width:85px;
    color:#fff;
    font-weight: bold;
    border-radius: 10px;
    border-color: #ce04a1;
    font-size: 16px;
}
.product-price .btn .fa{
    font-weight: bold;
}
#acessories{
    border:1px solid #e6e6e6;
}
#acessories .product{
    padding: 15px 0;
}
.accessories-slide {
    position: relative;
    padding-bottom: 70px;
}
.accessories-slide .owl-carousel .owl-stage-outer {
    top: 50px;
}
.accessories-slide .owl-carousel .owl-nav {
    position: absolute;
    top:0;
    right: 0;
    text-align: right;
}
.accessories-slide .pattern{
    background-image: url(style-img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 15px;
    padding: 7px;
    margin-top: 0;
    width: 90%;
    height: 30px;
}
.accessories-slide .owl-carousel .owl-nav .owl-prev,
.accessories-slide .owl-carousel .owl-nav .owl-next{
    width:30px;
    height: 30px;
    line-height: 25px;
}
.accessories-slide .owl-carousel .owl-nav .owl-prev:before{
    content: url(style-img/arrow-left.png);
}
.accessories-slide .owl-carousel .owl-nav .owl-next:after{
    content: url(style-img/arrow-right.png);
}
.accessories-slide .owl-carousel .owl-nav [class*="owl-"] {
    padding: 4px 12px;
    background: #e5e5e5;
    border-radius: 0;
    margin:5px 1px;
}
.accessories-slide .owl-carousel .owl-item a:hover{
    text-decoration: none;
}
.accessories-slide .owl-carousel .owl-item a figure{
    overflow: hidden;
    border:1px solid #ededed;
}
.accessories-slide .owl-carousel .owl-item a img{
    transition: 0.5s linear;
}
.accessories-slide .owl-carousel .owl-item a:hover img{
    transform: scale(1.1);
}
.accessories-slide .owl-carousel .owl-item a p{
    color: #000;
}
.accessories-slide h5{
    font-size: 12px;
    color:#c10497;
    font-weight: bold;
}
.accessories-slide > h5{
    color:#333;
    font-weight: normal;
    font-size: 14px;
}
.accessories-slide p{
    font-size: 11px;
}
.accessories-slide p:nth-of-type(2){
    font-weight: bold;
}
.trend h5{
    font-size: 14px;  
}
.trend p{
    font-size: 12px;
}
.helper h5{
    color:#fff;
    background-image: url(style-img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #cdd0de;
    padding: 7px;
}
.helper article{
    height: 130px;
    border: 1px solid #e1e1e1;
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f8f8f8, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f8f8f8, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f8f8f8, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f8f8f8, #ececec); /* Standard syntax */
    margin-bottom: 7px;
    float: left;
    width:49%;
    transition: 1s linear;
    position: relative;
    bottom:0;
}
.helper{
    max-width: 400px;
    margin: auto;
}
.helper article.left{
    margin-right: 2%;
}
.helper article a{
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: center 15px;
    background-size:45%;
}
.helper .notebook a{
    background-image: url(../img/notebook.png);
}
.helper .notebook:hover a{
    background-image: url(../img/notebook-hover.png)
}
.helper .calories a{
    background-image: url(../img/calories.png);
    background-size: 65%;
}
.helper .calories:hover a{
    background-image: url(../img/calories-hover.png);
    background-size: 65%;
}
.helper .savings a{
    background-image: url(../img/savings.png);
    background-size: 65%;
}
.helper .savings:hover a{
    background-image: url(../img/savings-hover.png);
    background-size: 65%;
}
.helper .period a{
    background-image: url(../img/period.png);
    background-size: 55%;
}
.helper .period:hover a{
    background-image: url(../img/period-hover.png);
    background-size: 55%;
}
.helper article a h6{
    font-weight: bold;
    font-size:14px;
    color:#555555;
    margin-top: 100px;
}
.people h5{
    height:30px ;
    line-height: 15px;
    display: table-cell;
    vertical-align: middle;
}
.people p{
    color:#454545;
}
.auction{
    border:1px solid #e7e5ef;
    background-color: #e9eaf2;
    background-image: url(style-img/shara1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.aside article{
    max-width: 400px;
    margin: 0 auto 23px;
}
.aside .pattern{
    background-image: url(style-img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
    margin-top: 0;
    color:#fff;
    background-color: #cdd0de;
}
.auction h6{
    font-size: 14px;
    color:#c10497;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;
}
.auction p{
    font-size: 12px;
    color:#555555;
    margin-left: 15px;
    margin-bottom: 15px;
}
.auction .btn{
    width:135px;
    display: block;
    margin: 15px auto;
    background: #d304a5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d304a5, #bc0493); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d304a5, #bc0493); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d304a5, #bc0493); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d304a5, #bc0493); /* Standard syntax */
    color:#fff;
    border-color: #ce04a1;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
}
.discount{
    margin: 23px 0;
    border:1px solid #e4e4e4;
}
.discount .pattern{
    background-color: #49b6c0;
    background-image: url(style-img/pattern-pastel.png);
}
.discount p{
    color:#555555;
    margin-bottom: 0;
}
.discount h5 + p{
    margin-left: 15px;
    margin-bottom: 15px;
}
.discount p:nth-last-of-type(3){
    font-weight: bold;
}
.discount .btn{
    margin: 15px auto;
    background: #d304a5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d304a5, #bc0493); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d304a5, #bc0493); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d304a5, #bc0493); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d304a5, #bc0493); /* Standard syntax */
    color:#fff;
    border-color: #ce04a1;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}
.aside article.style{
    margin-bottom: 0;
}
.style{
    border:1px solid #e6e6e6;
    text-align: center;
}
.style div{
    width: 45%;
    display: inline-block;
    text-align: left;
    margin: 0 2%;
}
.style h6{
    color:#c10497;
    font-weight: bold;
}
.style p{
    color:#555555;
    font-size: 12px;
}
.style a:hover{
    text-decoration: none;
}
.style a figure{
    overflow: hidden;
    display: inline-block;
    border:1px solid #ccc;
    width: 100%;
}
.style figure img{
    transition: 1s linear;
    width: 100%;
}
.style a:hover figure img{
    transform: scale(1.1);
}
.stylist{
    border:1px solid #e6e6e6;
    border-top:none;
    background-color: #f2f2f2;
}
.stylist > div{
    border:1px solid #fff;
    padding: 8px;
}
.stylist p{
    margin-bottom: 0;
    font-size: 12px;
    color:#555555;
}
.stylist p:nth-of-type(2){
    font-weight: bold;
}
.stylist p:last-of-type{
    font-size: 11px;
}
.pose{
    margin: 23px 0;
    border:1px solid #e6e6e6;
    padding-bottom: 7px;
}
.pose img{
    margin: 5px auto;
    padding: 0 12px;
}
.pose a{
    padding-left: 12px;
    color:#c10497;
    font-size: 12px;
}
.job{
    border:2px solid #efc7e6;
    background: -webkit-linear-gradient(left top, #fef6fc, #f0daeb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #fef6fc, #f0daeb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #fef6fc, #f0daeb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #fef6fc, #f0daeb); /* Standard syntax */
}
.job img{
    margin-top: 7px;
}
.job h4{
    color:#6a275b;
    font-weight: bold;  
}
.job a.btn{
    margin: 10px 0 25px;
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
    background: #d304a5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d304a5, #bc0493); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d304a5, #bc0493); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d304a5, #bc0493); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d304a5, #bc0493); /* Standard syntax */
    border-color: #ce04a1;
}
.job .agent{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.video{
    background: #ededed;
    margin-top: 10px;
    padding: 0 10px;
    margin-bottom: 25px;
}
.video h2{
    font-size: 14px;
    font-family: Arial, serif;
    font-weight: bold;
    margin: 0;
    line-height: 30px;
}
.link-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.link-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.link-shadow:hover, .link-shadow:focus, .link-shadow:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    /* move the element up by 5px */
}
.link-shadow:hover:before, .link-shadow:focus:before, .link-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
footer{
    margin-bottom: 20px;
}
.footer-top{
    background: #fff;
    padding: 20px 0px;
    border-top:1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}
.footer-top .list-inline > li{
    padding-right: 0;
}
.footer-bottom{
    background: #fff;
    text-align: center;
}
.footer-bottom article{
    padding: 5px 20px;
    display: inline-block;
}
.footer-bottom h4{
    color:#c10497;
    font-weight: bold;
}
.footer-bottom .form-control{
    width: 140px;
    max-width: 195px;
    display: inline-block;
    border-radius: 10px;
    height: 30px;
    background-color: #f1f1f1;
    font-size: 12px;
}
.footer-bottom .btn{
    max-width: 80px;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
    background: #d304a5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d304a5, #bc0493); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d304a5, #bc0493); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d304a5, #bc0493); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d304a5, #bc0493); /* Standard syntax */
    border-color: #d304a5;
    border-radius: 10px;
    height: 30px;
}
.footer-bottom article.fb div,
.footer-bottom article.tw div{
    float:left;
    padding: 20px 0 0;
}
.footer-bottom article div:nth-child(2){
    margin:20px 10px;
}
.footer-bottom article div h5{
    color:#c10497;
}
/*------------------  proizvodi.html style ------------------*/
.product-slide .breadcrumb{
    display: inline-block;
    background-color: transparent;
    font-size: 11px;
}
.product-slide > .breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ababab;
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 12px;
}
.product-slide .breadcrumb > li{
    color:#454545;
}
.product-slide .breadcrumb > li > a{
    color:#c10497;
}
.product-slide .by-products article{
    height: 150px;
    text-align: center;
}
.product-slide .by-products article a{
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: center 20px;
    background-size: 70%;
}
.product-slide .by-products .all a{
    background-image: url(slider-img/all.png);
    background-position: center 25px;
    background-size: 100%;
}
.product-slide .by-products .all:hover a{
    background-image: url(slider-img/all-hover.png);
    background-position: center 25px;
    background-size: 100%;
}
.product-slide .by-products .purse a{
    background-image: url(slider-img/purse.png);
}
.product-slide .by-products .purse:hover a{
    background-image: url(slider-img/purse-hover.png);
}
.product-slide .by-products .wallet a{
    background-image: url(slider-img/wallet.png);

    background-position: center 50px;
}
.product-slide .by-products .wallet:hover a{
    background-image: url(slider-img/wallet-hover.png);

    background-position: center 50px;
}
.product-slide .by-products .bagpack a{
    background-image: url(slider-img/ruksak.png);
}
.product-slide .by-products .bagpack:hover a{
    background-image: url(slider-img/ruksak-hover.png);
}
.product-slide .by-products .belt a{
    background-image: url(slider-img/belt.png);
}
.product-slide .by-products .belt:hover a{
    background-image: url(slider-img/belt-hover.png);
}
.product-slide .by-products .scarf a{
    background-image: url(slider-img/scarf.png);
    background-size: 50%;
}
.product-slide .by-products .scarf:hover a{
    background-image: url(slider-img/scarf-hover.png);
    background-size: 50%;
}
.product-slide .by-products article a h5{
    margin-top: 135px;
    color:#c10497;
    font-weight: bold;
}
.product-slide .by-products article:hover a h5{
    color:#454545;
}
.product-slide .by-products article:hover a{
    text-decoration: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    width:30px;
    height: 30px;
    line-height: 25px;
}
.owl-carousel .owl-nav .owl-prev:before{
    content: url(slider-img/arr-left.png);
}
.owl-carousel .owl-nav .owl-next:after{
    content: url(slider-img/arr-right.png);
}
.owl-carousel .owl-nav [class*="owl-"] {
    padding: 4px 12px;
    background: #454545;
    border-radius: 0;
    margin:5px 1px;
}
.product-slide .product-filter{
    border:1px solid #d9d9d9;
    background: -webkit-linear-gradient(left top, #f7f7f7, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #f7f7f7, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #f7f7f7, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #f7f7f7, #ececec); /* Standard syntax */
}
.product-slide .by-products{
    padding: 10px 10px 0;
}
.filter .form-group{
    margin-bottom: 0;
}
.filter .form-group label{
    font-size: 11px;
    color:#454545;
    font-weight: bold;
}
.filter .form-group .form-control{
    height: 20px;
    border-radius: 0;
}
select.form-control {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    background-image:  url('style-img/select-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    color:#000;
    box-shadow: none;
}
.filter form{
    padding: 5px;
    max-width: 400px;
    margin: auto;
}
.filter .val .btn{
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    color:#fff;
    background-color: #c10497;
    border-color: #c10497;
}
.filter .group .btn>.fa{
    font-weight: bold;
}
.price .form-group{
    display: inline-block;
    width: 48%;
}
.val >div{
    padding-right: 0;
}
.val>div.search{
    padding-right: 15px;
    position: relative;
    top: 17px;
    text-align: right;
}
.articles{
    font-size: 12px;
}
.articles .breadcrumb{
    font-size: 12px;
    background: transparent;
}
.sorting .form-inline select{
    width: 125px;
    height: 20px;
    border-radius: 0;
}
.sorting ul li a{
    color:#454545;
}
.sorting div,
.sorting ul{
    padding-left: 15px;
}
.sorting .breadcrumb{
    margin-bottom: 0;
}
.sorting .breadcrumb > li > a {
    color: #c10497;
    font-weight: bold;
}
.sorting .breadcrumb > li + li::before {
    color: #ababab;
    content: "|";
}
.sorting ul li a .twoCol{
    position: relative;
    bottom:2px;
}
.sorting{
    background-image: url(style-img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #cdd0de;
}
.pages{
    position: relative;
    padding: 5px;
}
.pages .breadcrumb{
    padding-left: 0;
    margin-bottom: 0;
}
.pagination {
    margin: 0px 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.pagination > li > a{
    margin: 3px;
    color:#c10497;
    background-color: #efefef;
    border-color: #efefef;
}
.pages .breadcrumb > li + li::before {
    color: #454545;
    content: "|";
}
hr:first-of-type {
    margin-top: 0px;
    border-top: 1px solid #e4e4e4;
    margin-left: 5px;
    margin-right: 5px;
}
.articles .artical article{
    height: 260px;
    max-width: 145px;
    margin: auto;
}
.articles .artical h6{
    color:#c10497;
    font-weight: bold;
}
.articles .artical p{
    font-size: 11px;
    color:#454545;
}
.articles .artical p:last-of-type{
    font-weight: bold;
}
hr:last-of-type{
    margin-bottom: 0;
}